@media (max-width: 500px) {
    .visibilityInfo span {
        display: none;
    }
    
    .visibilityInfo {
        flex-direction: column;
    }
}

.header {
    margin-bottom: 15px;
    display: inline-flex;
}

.header h1 {
    margin: 0;
}

.header p {
    align-self: flex-end;
    margin: 0 0 3px 15px;
}

.visibilityInfo {
    display: flex;
    flex-wrap: nowrap;
}

svg {
    margin-right: 3px;
}
