@media (max-width: 500px) {
    .visibilityInfo span {
        display: none;
    }
    
    .visibilityInfo {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .libraryItemHeader {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .libraryItemHeader {
        display: inline-flex;
    }

    .libraryItemHeader p {
        margin: 0 0 0 10px;
        align-self: center;
    }
}

.visibilityInfo {
    display: flex;
}

.libraryItem {
    display: 'flex';
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.mutedText {
    margin: 0 0 15px 0;
}
