@media (max-width: 500px) {
    .visibilityInfo span {
        display: none;
    }
    
    .visibilityInfo {
        flex-direction: column;
    }
}

.visibilityInfo {
    display: flex;
}

.libraryItem {
    display: 'flex';
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.libraryItemHeader {
    display: inline-flex;
}

.libraryItemHeader p {
    margin: 0 0 0 10px;
    align-self: center;
}

.mutedText {
    margin: 0 0 15px 0;
}
