.treeContainer {
    overflow: hidden;
    width: 100%;
    height: calc(min(500px, 100vh));
    border-radius: 5px;
    border: 1px solid darkgray;
    position: relative;
}

.treeContainer path.branch {
    stroke-width: 5px !important;
}

.buttonIcon {
    margin-right: 5px;
}

.treeCaption {
    font-size: 0.8em;
}

.treeSelect {
    width: 450px;
    max-width: 100%;
}

.subtitle {
    margin-top: 16px;
}